<footer class="text-muted">
        <div class="container">
        <div class="col-md-3">
        <hr width="1050" align="center">
         <p><%= link_to 'Aidez-moi :)',  pages_aidezmoi_path %></p>
         <p><%= link_to 'Charte',  pages_charte_path %></p>
         <p><%= link_to 'Informations légales',  pages_informations_path %></p>
         <p><%= link_to 'Politique de confidentialité',  pages_conditions_path %></p>
         </div>
         </div>
</footer> 