<footer class="footer">
  
  <div class="row text-center">
    <div id="navbar-nav-footer">
        <li><%= link_to 'Charte', pages_charte_path %></li>
        <li><%= link_to 'Aidez-moi :)', pages_aidezmoi_path %></li>
        <li><%= link_to 'Informations légales', pages_informations_path %></li>
        <li><%= link_to 'Politique de confidentialité', pages_conditions_path %></li>
    </div>
  </div>
</footer>
